/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

h1, h4 {
  font-weight: 400; }

ul {
  list-style-type: none; }

body {
  color: #777; }

a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

a:hover,
a:active {
  text-decoration: underline; }

.centered {
  margin: auto; }

.grid__row {
  box-sizing: border-box;
  display: flex; }
  .grid__row:not(:last-child) {
    margin-bottom: 20px; }

.grid__col--1 {
  padding: 5px 0;
  flex: 0 1 8.33333%;
  box-sizing: inherit; }
  .grid__col--1:not(:last-child) {
    margin-right: 20px; }
  .grid__col--1.theme__colors {
    background-color: #f48642;
    color: #eee;
    text-align: center; }

.grid__col--2 {
  padding: 5px 0;
  flex: 0 1 16.66667%;
  box-sizing: inherit; }
  .grid__col--2:not(:last-child) {
    margin-right: 20px; }
  .grid__col--2.theme__colors {
    background-color: #1e9951;
    color: #eee;
    text-align: center; }

.grid__col--3 {
  padding: 5px 0;
  flex: 0 1 25%;
  box-sizing: inherit; }
  .grid__col--3:not(:last-child) {
    margin-right: 20px; }
  .grid__col--3.theme__colors {
    background-color: #4292f4;
    color: #eee;
    text-align: center; }

.grid__col--4 {
  padding: 5px 0;
  flex: 0 1 33.33333%;
  box-sizing: inherit; }
  .grid__col--4:not(:last-child) {
    margin-right: 20px; }
  .grid__col--4.theme__colors {
    background-color: #1d7e99;
    color: #eee;
    text-align: center; }

.grid__col--5 {
  padding: 5px 0;
  flex: 0 1 41.66667%;
  box-sizing: inherit; }
  .grid__col--5:not(:last-child) {
    margin-right: 20px; }
  .grid__col--5.theme__colors {
    background-color: #8e1d99;
    color: #eee;
    text-align: center; }

.grid__col--6 {
  padding: 5px 0;
  flex: 0 1 50%;
  box-sizing: inherit; }
  .grid__col--6:not(:last-child) {
    margin-right: 20px; }
  .grid__col--6.theme__colors {
    background-color: #d80a45;
    color: #eee;
    text-align: center; }

.grid__col--7 {
  padding: 5px 0;
  flex: 0 1 58.33333%;
  box-sizing: inherit; }
  .grid__col--7:not(:last-child) {
    margin-right: 20px; }
  .grid__col--7.theme__colors {
    background-color: #9564c9;
    color: #eee;
    text-align: center; }

.grid__col--8 {
  padding: 5px 0;
  flex: 0 1 66.66667%;
  box-sizing: inherit; }
  .grid__col--8:not(:last-child) {
    margin-right: 20px; }
  .grid__col--8.theme__colors {
    background-color: #0c8ad3;
    color: #eee;
    text-align: center; }

.grid__col--9 {
  padding: 5px 0;
  flex: 0 1 75%;
  box-sizing: inherit; }
  .grid__col--9:not(:last-child) {
    margin-right: 20px; }
  .grid__col--9.theme__colors {
    background-color: #0cd2b8;
    color: #eee;
    text-align: center; }

.grid__col--10 {
  padding: 5px 0;
  flex: 0 1 83.33333%;
  box-sizing: inherit; }
  .grid__col--10:not(:last-child) {
    margin-right: 20px; }
  .grid__col--10.theme__colors {
    background-color: #0bb744;
    color: #eee;
    text-align: center; }

.grid__col--11 {
  padding: 5px 0;
  flex: 0 1 91.66667%;
  box-sizing: inherit; }
  .grid__col--11:not(:last-child) {
    margin-right: 20px; }
  .grid__col--11.theme__colors {
    background-color: #a2b70a;
    color: #eee;
    text-align: center; }

.grid__col--12 {
  padding: 5px 0;
  flex: 0 1 100%;
  box-sizing: inherit; }
  .grid__col--12:not(:last-child) {
    margin-right: 20px; }
  .grid__col--12.theme__colors {
    background-color: #b78509;
    color: #eee;
    text-align: center; }

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem; }
  .container > .grid__row:first-child {
    margin-left: -10rem;
    margin-right: -10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center; }

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }
  .nav__item {
    border: 2px solid transparent;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px; }
    .nav__item:hover, .nav__item:active {
      background-color: #14c3c9;
      border: 2px solid #14c3c9;
      color: #ffa; }

.headline--primary {
  color: #14c3c9;
  font-size: 2rem; }

.headline--secondary {
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.card {
  width: 100%; }
  .card p {
    letter-spacing: .5px;
    line-height: 2;
    padding-right: 10%; }
  .card .blockquote {
    color: #333;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 5rem;
    text-align: justify;
    position: relative; }
    .card .blockquote::before {
      content: "";
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 10%;
      left: 0;
      height: 80%;
      width: 10px;
      background-color: #14c3c9; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%; }
  .form__label--hidden {
    color: transparent;
    display: block;
    height: 0;
    width: 100%;
    position: relative; }
    .form__label--hidden::before {
      background-color: #14c3c9;
      border-radius: 5px;
      content: "";
      display: block;
      height: .8rem;
      width: 100%;
      position: absolute;
      top: 3.5rem;
      left: 0; }
  .form__input {
    border: none;
    box-sizing: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline-style: none;
    padding: 1rem 0;
    width: 100%;
    display: block; }
    .form__input:focus {
      border-top: 1px solid #14c3c9; }
  .form .btn--default {
    display: block;
    margin: 0 auto; }

.btn--default {
  background-color: #14c3c9;
  color: #eee;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px;
  width: 7rem; }
  .btn--default:hover, .btn--default:active {
    box-shadow: 0 5px 15px #0b696c; }

.btn--success {
  background-color: #2c9e57;
  color: #eee;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px;
  width: 7rem; }
  .btn--success:hover, .btn--success:active {
    box-shadow: 0 5px 15px #164e2b; }

.btn--error {
  background-color: #2c9e57;
  color: #eee;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px;
  width: 7rem; }
  .btn--error:hover, .btn--error:active {
    box-shadow: 0 5px 15px #164e2b; }

.btn--warning {
  background-color: #ce4f10;
  color: #eee;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px;
  width: 7rem; }
  .btn--warning:hover, .btn--warning:active {
    box-shadow: 0 5px 15px #6f2b09; }

.btn--info {
  background-color: #aa17c4;
  color: #eee;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 7px;
  width: 7rem; }
  .btn--info:hover, .btn--info:active {
    box-shadow: 0 5px 15px #5b0c69; }

.img--avatar, .img--frame {
  display: block;
  max-width: 50%; }

.img {
  display: flex;
  justify-content: center;
  align-items: center; }
