.grid__row {
    box-sizing: border-box;
    display: flex;
    
    &:not(:last-child) {
        margin-bottom: $gutter-grid;
    }
}

.grid__col {
    
    @for $col from 1 through $grid-columns {
        &--#{$col} {
            @include make-grid-column ($col, $grid-columns) 
            
                    box-sizing: inherit;
            
            @at-root #{&}.theme__colors {
                background-color: nth($color-themes, $col);
                color: $color-white;
                text-align: center;
            }
        }
    }
}