@mixin offset-margin ($offset) {
    margin-left: -$offset;
    margin-right: -$offset;
    padding-left: $offset;
    padding-right: $offset;
}

@mixin make-grid-column ($col, $cols) {
    padding: 5px 0;
    flex: 0 1 (100% / $cols) * $col;
    
    &:not(:last-child) {
        margin-right: $gutter-grid;
    }    
}

@mixin style-button ($target, $color) {
    #{$target} {
        background-color: $color;
        color: $color-white;
        border: none;
        border-radius: 5px;
        display: inline-block;
        margin: 0 20px 0 0;
        padding: 7px;
        width: 7rem;
        
        &:hover,
        &:active {
            box-shadow: 0 5px 15px darken($color, 20%);
        }
    }
}