//////////////////////////////////////////
//
//   Fonts
//
//////////////////////////////////////////
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: "";

//////////////////////////////////////////
//
//   Colors
//
//////////////////////////////////////////
$color-primary:  #14c3c9;
$color-primary-light: #55e9ee;
$color-primary-dark: #0b696c;

$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #333;

$color-white: #eee;
$color-white-green: #ffa;

$color-themes: (
    #f48642,
    #1e9951,
    #4292f4,
    #1d7e99,
    #8e1d99,
    #d80a45,
    #9564c9,
    #0c8ad3,
    #0cd2b8,
    #0bb744,
    #a2b70a,
    #b78509
);

$default: $color-primary;
$success: #2c9e57;
$error: #2c9e57;
$warning: #ce4f10;
$info: #aa17c4;

$color-buttons: (
    "default": $default,
    "success": $success,
    "error": $error,
    "warning": $warning,
    "info": $info
);

//////////////////////////////////////////
//
//   Grid
//
//////////////////////////////////////////
$gutter-container: 20rem;
$gutter-grid: 20px; 
$gutter-grid-small: 10px; 
$grid-columns: 12;


//////////////////////////////////////////
//
//   Breakpoints
//
//////////////////////////////////////////
$bp-desktop: 1400px;
$bp-mobile: 480px;

