//////////////////////////////////////////
//
// Container
//
//////////////////////////////////////////
.container {
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    margin-left: half-of($gutter-container);
    margin-right: half-of($gutter-container);
    
    & > .grid__row:first-child {
        @include offset-margin(half-of($gutter-container));
        
        align-items: center;
    }
}

//////////////////////////////////////////
//
// Navigation
//
//////////////////////////////////////////
.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    &__item {
        border: 2px solid transparent;
        border-radius: 5px;
        display: inline-block; 
        padding: 5px 10px;
        
        &:hover,
        &:active {
            background-color: $color-primary;
            border: 2px solid $color-primary;
            color: $color-white-green;
        }
    }
}

//////////////////////////////////////////
//
// Gallery
//
//////////////////////////////////////////
.headline--primary {
    color: $color-primary;
    font-size: 2rem;
}

.headline--secondary {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    
    & p {
        letter-spacing: .5px;
        line-height: 2;
        padding-right: 10%;
    }
    
    .blockquote {
        color: $color-grey-dark;
        font-style: italic;
        font-weight: 400;
        line-height: 2;
        margin-left: 0;
        padding-left: 2rem;
        padding-right: 5rem;
        text-align: justify;
        position: relative;
        
        &::before {
            content: "";
            border-radius: 5px;
            display: block;
            position: absolute;
            top: 10%;
            left: 0;
            height: 80%;
            width: 10px;
            background-color: $color-primary;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    
    &__label {
        
        &--hidden {
            color: transparent;
            display: block;
            height: 0;
            width: 100%;
            position: relative;
            
            &::before {
                background-color: $color-primary;
                border-radius: 5px;
                content: "";
                display: block;
                height: .8rem;
                width: 100%;
                position: absolute;
                top: 3.5rem;
                left: 0;
            }
        }
    }
    
    &__input {
        border: none;
        box-sizing: inherit;
        margin-top: 1rem;
        margin-bottom: 1rem;
        outline-style: none;
        padding: 1rem 0;
        width: 100%;
        display: block;
        
        &:focus {
            border-top: 1px solid $color-primary;
        }
    }
    
    .btn--default {
        display: block;
        margin: 0 auto;
    }
}

@each $type, $color in $color-buttons {
    $elem: ".btn--#{$type}";
    @include style-button($elem, $color);
}

%img {
    display: block;
    max-width: 50%;
}
        
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    &--avatar,
    &--frame {
        @extend %img;
    }
}
        
//////////////////////////////////////////
//
// Footer
//
//////////////////////////////////////////


